
  .product {
    border: 1px solid #302d2d;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    /* padding: 0 10px 0 10px; */
    width: 180px;
    height: 154px;
  }
  
  